body{
    font-family: $primayBodyFont;
}
body.home{
    .title_logo{
        display:none;
    }
    #phone_container{
        display:none;
    }
    .downarrow{
        cursor: pointer;
        &:hover{
            -webkit-box-shadow: 1px 0px 25px 3px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 0px 25px 3px rgba(0,0,0,0.75);
            box-shadow: 1px 0px 25px 3px rgba(0,0,0,0.75);
            transition: box-shadow 0.3s ease-in-out;
        }
    }
}
h1, h2, h3, h4, h5, h6{
    font-family: $primayHeaderFont;
}
p{
    font-family: $primayBodyFont;
    line-height: 2.5em
}
h4{
    font-family: $primayHeaderFont;
    font-weight: 700;
}
h3.page_title{
    text-align: left;
    color:$dk_gray;
    display:block;
    text-transform: capitalize;
    font-family: $primayHeaderFont;
    font-weight: 700;
    position:relative;
    font-size:4.5em;
    line-height: 1.0em;
    margin-left:1.75%;
    width:100%;
    margin-top: 2%; 
}
h4.page_subtitle{
    font-family: $secondayHeaderFont;
    font-weight: 700;
    font-size: 1.50em;
    font-style: italic;
    color: $lt_gray;
    margin-left:1.75%;
    width:50%;
    margin-bottom: 2%; 
}
.row{
    position:relative;
}
.columns{
    position:relative;
}
.callout{
    border:none;
}
.logo{
    width:20%;
    height: calc(100vh);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index:666;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
.title_logo{
    width:300px;
    img{
        display: block;
        width:100%;
        height:auto;
    }
}
#cta_row{
    max-width: 100%;
    margin:2.0em 0 0;
    padding:0;
}
#yelp{
    width:100%!important;
}
div.author_block{
    display: block;
    font-size: 0.75em;
    margin-top:2.0em;
    a{
        background-color: $dk_gray;
        color:#fff;
        font-size:1.75em;
        padding: 0.20em 0.75em;
        display: inline-block;
        vertical-align: middle;
        border-radius: 3%;
        &:hover{
            opacity: 0.5;
        }
    }
    img{
        width:7%;
        height:auto;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-left: 63%;
    }
    p{
        display: inline-block;
        vertical-align: middle;
        padding-top:3.0em;
        float:right;
        clear:none;
    }

}
div.report_block{
    display:block;
    float:right;
    width:98%;
    padding: 1.0em;
}
div.feed_block{
    @include clearfix;
    h2{
        font-family: $primayHeaderFont;
        font-weight: 600;
        a{
            color:$dk_gray;
            &:hover{
                opacity: 0.5;
            }
        }
    }
    span.entry-date{
        margin-left:1.0em;
    }
}
#phone_container{
    font-family: $primayHeaderFont;
    color: #fff;
    font-size: 2.5em;
    text-align: right;
    font-weight: 600;
    padding-right:0.75em;
}
.hero_row{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: calc(100vh);
    @media only screen and (max-width: 40em) {
      height: calc(50vh);
    }
}

.hero-arrow-down {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 9px;
    left: 50%;
    z-index: 668;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
    background-image: url("../images/nav-size.svg");
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;
}
ul.instagram-pics{
    list-style-type: none;
    @include clearfix;
    li{
        width:50%;
        height:auto;
        padding:0.5em;
        float:left;
    }
}