//Custom Fonts
$primayHeaderFont: 'Raleway', sans-serif;
$primayBodyFont: 'Roboto', sans-serif;

//Custom Breakpoints
$dropscreen: new-breakpoint(max-width 1600px);

//Colors
$dk_gray: #404040;
$blackish: #0a0a0a;
$primaryBlue : rgb(62, 127, 171);
$blackTrans : rgba(0, 0, 0, 0.5);