//Custom Fonts
$primayHeaderFont: 'Raleway', sans-serif;
$primayBodyFont: 'Roboto', sans-serif;

//Custom Breakpoints
$dropscreen: new-breakpoint(max-width 1600px);

//Colors
$dk_gray: #404040;
$blackish: #0a0a0a;